<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>轻小说次元</title>
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="js/swiper-bundle.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC :wght@400;700&family=Kaisei+Decol&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js " crossorigin="anonymous"></script>
</head>
<body>
    <h2>轻次元小说</h2>

</body>
</html>